.gg-header{
	@extend .full-width;
	@extend %position-fixed;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 10;
	height: 60px;
	.gg-logo{
		@extend %position-relative;
		@extend %inline-block;
		font-size: 1.25em;
		font-weight: bold;
		top: 14px;
		margin-left: 20px;
		a{
			text-decoration: none;
			color: $white;
			span{
				color: $green-logo;
			}
		}
		&:after{
			content: 'web developer';
			position: absolute;
			bottom: -11px;
			right: 0px;
			font-size: 0.5em;
			letter-spacing: 0.05em;
		}
	}
	.gg-nav-menu{
		@extend %position-relative;
		@extend %inline-block;
		@extend %float-right;
		ul{
			margin: 15px 0 10px;
			li{
				@extend %inline-block;
				a{
					padding: 8px 20px;
					text-decoration: none;
					color: $white;
					text-transform: uppercase;
					font-size: 0.8em;
					&:first-child{
						padding-left: 0;
					}
					&:hover{
						color: $green-logo;
					}
				}
			}
		}
	}
	.gg-menu-mobile{
		@extend %display-none;
		@extend %float-right;
		width: 35px;
		height: 33px;
		margin: 14px;
		span{
			@extend %position-relative;
			@extend %display-block;
			width: 100%;
			height: 3px;
			margin: 6px 0;
			background-color: $white;
		}
		&.opened{
			.none{
				@extend %display-none;
			}
			.translate{
				@include css3-prefix('transform-origin','50% 50%');
				@include css3-prefix('transition','top .3s .6s ease, transform .3s ease');
				&:first-child{
					@include css3-prefix('transform','rotate3d(0,0,1,45deg)');
					top: 10px;
				}
				&:last-child{
					@include css3-prefix('transform','rotate3d(0,0,1,-45deg)');
					top: 1px;
				}
			}
		}
	}
}

section{
	@extend %position-relative;
	background-color: $white;
	padding: 70px 0 5px;
	&:first-child{
		padding: 0;
	}
	&.gg-home{
		.gg-content{
			width: 100%;
			height: 100vh;
			min-height: 600px;
			.gg-bg-fixed-top{
				@extend %position-fixed;
				width: 100%;
				height: 100%;
				background: url('../images/bg-home-top.jpg') 0 0 no-repeat;
				z-index: 0;
				background-size: cover;
				&:after{
					content: '';
					background-image: linear-gradient(180deg,rgba(0,0,0,.8) 0,transparent 50%,transparent 90%,rgba(0,0,0,.8));
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: 2;
					will-change: transform
				}
			}
			.gg-profile{
				@extend %text-center;
				@extend %position-relative;
				@include css3-prefix('perspective','1000');
				@include css3-prefix('border-radius','50%');
				width: 200px;
				height: 200px;
				margin: 0 auto;
				z-index: 1;
				padding-top: 200px;
				&:hover{
					.gg-profile-figure{
						@include css3-prefix('transform','rotateY(180deg)');
					}
				}
				.gg-profile-figure{
					width: 100%;
					height: 100%;
					@include css3-prefix('transition','all 1s linear');
					@include css3-prefix('transform-style','preserve-3d');
					img{
						@include css3-prefix('border-radius','50%');
						width: 100%;
						height: 100%;
						backface-visibility: hidden;
						position: absolute;
						top: 0;
						left: 0;
						&.front{
							z-index: 2;
							/* for firefox 31 */
							@include css3-prefix('transform','rotateY(0deg)');
						}
						&.back{
							@include css3-prefix('transform','rotateY(180deg)');
						}
					}
				}
			}
		}
	}
	&.gg-skills{
		ul{
			li{
				width: 33%;
				zoom: 1;
				@extend %inline-block;
				@extend %position-relative;
				&:before{
					content: "";
					width: 5px;
					height: 5px;
					position: absolute;
					top: 6px;
					left: -17px;
					background-color: #000000;
					@include css3-prefix('border-radius','50%');
				}
			}
		}
	}

}
.gg-container,
.gg-content{
	width: 700px;
	margin: 0 auto;
	.gg-social-media{
		@extend %position-relative;
		margin-top: 35px;
		ul{
			padding: 0;
			@extend %text-center;
			li{
				@extend %inline-block;
				a{
					@extend %position-relative;
					margin: 0 20px;
					background: $white;
					top: 0;
					cursor: pointer;
					font-size: 1.25em;
					color: $black;
					padding: 7px 8px 7px 10px;
					@include css3-prefix('border-radius','50%');
					@include css3-prefix('transition','top 0.5s linear 0.1s');
					&:hover{
						background: $green-logo;
						top: -8px;
						@include css3-prefix('transition','background 0.3s linear 0.1s');
						@include animation('seconds infinite 1s');
					}
				}
			}
		}
	}
}

footer{
	@extend %position-relative;
    padding: 1px 0 10px;
    background: #ccc;
}