<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="ClearType" content="true">
		<title>Gustavo Gottardi</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="ALL" />
		<link rel="dns-prefetch" href="//www.google-analytics.com">
	    <link rel="shortcut icon" href="/dist/assets/images/favicon.png">
		<link rel="stylesheet" href="/dist/assets/css/main.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
		<base href="/">

	</head>
	<body>

	<!-- HEADER -->
	<header class="gg-header">
		<nav class="gg-nav-menu">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/">About</a>
				</li>
				<li>
					<a href="/">Skills</a>
				</li>
				<li>
					<a href="/">Graduation</a>
				</li>
				<li>
					<a href="/">Events</a>
				</li>
				<li>
					<a href="/">Contacts</a>
				</li>
			</ul>
			<a href="/" class="gg-logo">Gustavo <span>Gottardi</span></a>
		</nav>
	</header>
	<!-- #HEADER -->
	
	<!-- CONTENT -->
	<main class="gg-root">
		<!-- Start view -->
		<section class="gg-home">
			<div class="gg-content">
				
				<div class="gg-bg-fixed-top"></div>

				<div class="gg-profile">
					<figure class="gg-profile-figure" title="Gustavo Gottardi">
						<img src="../dist/assets/images/profile.jpg" class="front" alt="Gustavo Gottardi">
						<img src="../dist/assets/images/profile2.jpg" class="back" alt="Gustavo Gottardi">
					</figure>
				</div>

				<div class="gg-social-media">
					<ul>
						<li>
							<a href="mailto:gugottardi@gmail.com" title="Gmail">
								<i class="fa fa-google" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/gustavogottardi" target="_blank" title="Linkedin">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://github.com/GustavoGottardi" target="_blank" title="Github">
								<i class="fa fa-github" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section id="about" class="about">
			<div class="gg-container">
				<h1 class="title-h1">Gustavo Gottardi</h1>
				<p>
					Hi, I'm Gustavo Gottardi, a front-end developer in Brazil for more than 5 years, I love web development and always dedicate myself to know new languages, frameworks, CMS and technologies of web development.
				</p>
				<p>
					At the moment my main focus is development with JavaScript, some of my knowledges are VanillaJS, AngularJS, ES6, NodeJS, Express among others.
				</p>
			</div>
		</section>

		<section id="skills" class="skills">
			<div class="gg-container">
				<h1 class="title-h1">My skills</h1>
				<ul>
					<li>Javascript</li>
					<li>ES6</li>
					<li>AngularJS</li>
					<li>NodeJS</li>
					<li>Jquery</li>
					<li>HTML5/CSS3</li>
					<li>Json</li>
					<li>Grunt / Gulp / Webpack</li>
					<li>Bower</li>
					<li>Restfull</li>
					<li>PHP</li>
					<li>Linux</li>
					<li>Git</li>
					<li>Databases / SQL</li>
					<li>Sass</li>
					<li>Responsive</li>
					<li>CMS</li>
					<li>SEO</li>
				</ul>
			</div>
		</section>

		<section id="events" class="events">
			<div class="gg-container">
				<h1 class="title-h1">Event I was</h1>
				<h3>2016</h3>
				<ul>
					<li>26/08 and 27/08 - BrazilJS - Porto Alegre/RS - Brazil</li>
					<li>06/08 - Front in BH - Belo Horizonte/MG - Brazil</li>
					<li>02/07 - Front in Sampa - São Paulo/SP - Brazil</li>
					<li>25/06 - SampaJS - São Paulo/SP - Brazil</li>
				</ul>
				<h3>2015</h3>
				<ul>
					<li>28/05 - AWS Summit - São Paulo/SP - Brazil</li>
				</ul>
			</div>
		</section>
		<!-- End view-->
	</main>
	<!-- #CONTENT -->

	<!-- FOOTER -->
	<footer class="gg-footer">
	</footer>
	<!-- #FOOTER -->
	</body>
</html>
<!-- <script src="../assets/scripts/libs.min.js"></script> -->
<script src="/dist/assets/scripts/main.min.js"></script>
